<!DOCTYPE html>
<!--解决变量变红，加入此注释-->
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>系统登录 - 超市账单管理系统</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
	<script type="text/javascript" th:src="@{/js/jquery.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/layer/layer.js}"></script>
	<script type="text/javascript" th:src="@{/js/login.js}"></script>
</head>

<body class="blue-style">
<div id="login">
	<div class="icon"></div>
	<div class="login-box">
		<form method="post" th:action="@{user/login}">
			<dl>
				<dt>用户名：</dt>
				<dd><input type="text" name="username" class="input-text" id="usrName"/></dd>
				<dt>密　码：</dt>
				<dd><input type="password" name="password" class="input-text" id="usrPassword"/></dd>
			</dl>
			<div class="buttons">
				<input type="button" value="登录系统" class="input-button" id="entry_btn"/>
				<input type="reset" name="reset" value="重填" class="input-button" />
			</div>
		</form>
	</div>
</div>
</body>
</html>
